
<p id="notice"><%= notice %></p>

<h1>Search for the class</h1>
<%= form_tag '/searches/index', :method => "get", remote: true, role: "form", class: "form", id: "search-form" do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search Courses" %>
    <% categories_array = Subject.all.map { |subject| [ subject.name] } %>
    <%= select_tag("subject", options_for_select(categories_array, params[:search_column]), :include_blank => true)%>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id = "searcher"><%= render 'searcher' %></div>
<% end %>


<script>
$(function() {
  $("#search-form input").keyup(function() {
    $.get($("#search-form").attr("action"), $("#search-form").serialize(), null, "script");
    return true;
  });
});

</script>
